<h1><%= @stone.name %></h1>
<h4><%= @stone.price %></h4>
<p><%= @stone.description %></p>

<%= link_to 'Return to all stones', stones_path %>
<%= link_to 'Delete stone', stone_path(@stone), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
<%= link_to 'Edit Stone', edit_stone_path(@stone) %>
