<div class="box-show">
  <div class="stones-show">
      <img class="show-img" src="<%= @stone.image %>" alt="<%= @stone.name %>image cap">
        <div class="stone-content"></div>
          <div class="price-name-bar">
            <h2><%= @stone.name %></h2>
            <h4><%= @stone.price %>€/Semaine</h4>
          </div>
            <p class=""><%= @stone.description %></p>

            <%= link_to '  Menu  ', stones_path, class: "btn btn-warning btn-sm mb-2" %>
  </div>

  <div class="flpkr">
        <%= simple_form_for [@stone, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
          <%= f.input :comment %>
          <%= f.submit 'Ask owner for booking' %>
        <% end %>
  </div>
</div>
