<div class="box-show mb-4">
  <div class="stones-show">
      <img class="show-img" src="<%= @stone.image %>" alt="<%= @stone.name %>image cap">
        <div class="stone-content"></div>
          <div class="price-name-bar">
            <h3><%= @stone.name %></h3>
            <h4><%= @stone.price %>€/Semaine</h4>
          </div>
        <p class=""><%= @stone.description %></p>
  </div>

      <div class="flpkr">
        <h3 class="text-center mb-4">Réserver <%= @stone.name %></h3>
          <%= simple_form_for [@stone, @booking], input_html: {data: { controller: 'flatpickr' }} do |f| %>
          <%= f.input :start_date, label: 'Sélectionner les dates', as: :string, input_html: { data: { controller: "flatpickr" } } %>
          <%= f.input :comment, label: 'Commentaire' %>
          <div class="text-center">
            <%= f.submit 'Réserver', class: "btn-blue mt-3" %>
          </div>
        <% end %>
       </div>



        <div class="m-3">
        </div>
      </div>
