
<div class="banner">

  <div class="text-block">
    <div class="container">

      <h1> La nouvelle  <strong> marketplace</strong> pour <strong>vos pierres </strong>!</h1>
      <div class="text-center">
        <%= link_to 'Découvrez nos produits', stones_path, class: "btn-white" %>
      </div>
    </div>
  </div>
</div>
  <%# fin de bannière %>
  <%# début prop produit %>

<div class="container">
  <div class="row">
    <% @stones.each do |stone|  %>
    <div class="col-12 col-md-4">
    <div class="card-home-stone">
      <img src="<%= stone.image %>"  alt="...">


      <div class="card-home-stone-infos">
        <div>
          <h2><%= stone.name %></h2>
          <p><%= stone.description %></p>
        </div>
      </div>
      <div class="text-center">
        <%= link_to 'Voir les détails', stone_path(stone), class: "btn-blue" %>
      </div>

    </div>








    </div>
    <% end %>
  </div>






  <%# fin prop produit %>

</div>
