<!DOCTYPE html>

<html>
  <head>
    <title>LETSBeStones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<%= render "shared/navbar" %>


    <%= yield %>






    <footer>
      <div class="footer">
      <div class="row">
      <div class=“row justify-content-center”>
      <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
      </div>

      <div class="row">
      <ul>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      </ul>
      </div>

      <div class=“row justify-content-center”>
      Copyright © 2023 - All rights reserved
      </div>
      </div>

      </div>
    </footer>
  </body>
</html>
